log/*
tmp/**/*
db/*.sqlite3
public/system
*.DS_Store
coverate
coverage/*
*.swp
db/*.sql
config/database.yml
db/sphinx/*
!.keep
test/fixtures
test/fixtures/*
coverage.data
.idea/*
*.sqlite
config/development.sphinx.conf
#config/initializers/chargify.rb
